.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 90%;
    text-align: center;
}

.td-actions {
    display: flex;
    justify-content: space-around;
}