<div class="container">
    <mat-card class="example-card">
        <mat-card-title>Alta de Curso</mat-card-title>
        <mat-card-content>
            <app-new-course></app-new-course>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-subtitle>Tabla de Cursos</mat-card-subtitle>
        <mat-card-title>Cursos actuales</mat-card-title>
        <mat-divider inset></mat-divider>
        <mat-card-content>
            <app-list-courses></app-list-courses>
        </mat-card-content>
        <mat-divider inset></mat-divider>
    </mat-card>
</div>